{{#if error}}
  <div class="alert alert-danger alert-dismissible">
    <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
    {{error}}
  </div>
{{/if}}

{{#each errors}}
  <div class="alert alert-danger alert-dismissible">
    <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
    {{text}}
  </div>
{{else}}

{{/each}}